@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.T1 {
  width: 100%;
  height: 300px;
  background-color: #1E1F26;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.T1 .card {
  background: #191c29;
  width: 200px;
  height: 200px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgba(88, 199, 250, 0);
  cursor: pointer;
  font-family: cursive;
}
.T1 .card:hover {
  color: rgb(88, 199, 250);
  transition: 1s;
}
.T1 .card:hover:before, .T1 .card:hover:after {
  animation: none;
  opacity: 0;
}
.T1 .card:before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(132deg, #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}
.T1 .card:after {
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(100px);
  background-image: linear-gradient(132deg, #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: 0.5s;
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg ;
  }
}
@property --rotate {
  .T1 {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
}

.T2 {
  width: 100%;
  height: 300px;
  background-color: #191C29;
  display: flex;
  justify-content: center;
  align-items: center;
}
.T2 .content {
  position: absolute;
  height: auto;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}
.T2 .content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.T2 .content__container:before {
  content: "[";
  left: 0;
}
.T2 .content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.T2 .content__container:after, .T2 .content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation: opacity 2s infinite;
}
.T2 .content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.T2 .content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: change 10s infinite;
}
.T2 .content__container__list__item {
  line-height: 40px;
  margin: 0;
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

.T3 {
  width: 100%;
  height: 300px;
  background-color: #14263B;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}
.T3 .con {
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
  overflow: hidden;
}
.T3 .con .bubble-wrap {
  margin: 0 auto;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
  display: flex;
  align-items: center;
}
.T3 .con .bubble-wrap .bb {
  position: absolute;
  background: black;
  opacity: 0.7;
  border-radius: 50%;
  animation: move 3s infinite;
}
.T3 .con .bubble-wrap .bb:nth-child(1) {
  height: 2px;
  width: 2px;
  animation-delay: -0.2s;
  transform: translate3d(806px, 82px, 815px);
  background: hsl(219, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(2) {
  height: 5px;
  width: 5px;
  animation-delay: -0.4s;
  transform: translate3d(372px, 891px, 1796px);
  background: hsl(307, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(3) {
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(595px, 394px, 1000px);
  background: hsl(252, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(4) {
  height: 30px;
  width: 30px;
  animation-delay: -0.8s;
  transform: translate3d(267px, 658px, 129px);
  background: hsl(300, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(5) {
  height: 4px;
  width: 4px;
  animation-delay: -1s;
  transform: translate3d(292px, 443px, 1762px);
  background: hsl(65, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(6) {
  height: 17px;
  width: 17px;
  animation-delay: -1.2s;
  transform: translate3d(98px, 853px, 883px);
  background: hsl(136, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(7) {
  height: 24px;
  width: 24px;
  animation-delay: -1.4s;
  transform: translate3d(236px, 263px, 624px);
  background: hsl(271, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(8) {
  height: 27px;
  width: 27px;
  animation-delay: -1.6s;
  transform: translate3d(434px, 393px, 252px);
  background: hsl(333, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(9) {
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(145px, 961px, 320px);
  background: hsl(92, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(10) {
  height: 15px;
  width: 15px;
  animation-delay: -2s;
  transform: translate3d(350px, 205px, 188px);
  background: hsl(299, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(11) {
  height: 20px;
  width: 20px;
  animation-delay: -2.2s;
  transform: translate3d(695px, 291px, 1087px);
  background: hsl(195, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(12) {
  height: 12px;
  width: 12px;
  animation-delay: -2.4s;
  transform: translate3d(52px, 884px, 1255px);
  background: hsl(118, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(13) {
  height: 28px;
  width: 28px;
  animation-delay: -2.6s;
  transform: translate3d(359px, 65px, 1360px);
  background: hsl(219, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(14) {
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(989px, 575px, 1048px);
  background: hsl(106, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(15) {
  height: 28px;
  width: 28px;
  animation-delay: -3s;
  transform: translate3d(101px, 798px, 1647px);
  background: hsl(28, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(16) {
  height: 19px;
  width: 19px;
  animation-delay: -3.2s;
  transform: translate3d(131px, 815px, 1737px);
  background: hsl(356, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(17) {
  height: 23px;
  width: 23px;
  animation-delay: -3.4s;
  transform: translate3d(384px, 483px, 366px);
  background: hsl(176, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(18) {
  height: 19px;
  width: 19px;
  animation-delay: -3.6s;
  transform: translate3d(189px, 72px, 1747px);
  background: hsl(161, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(19) {
  height: 12px;
  width: 12px;
  animation-delay: -3.8s;
  transform: translate3d(231px, 896px, 1670px);
  background: hsl(241, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(20) {
  height: 1px;
  width: 1px;
  animation-delay: -4s;
  transform: translate3d(334px, 711px, 1985px);
  background: hsl(128, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(21) {
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(356px, 796px, 1278px);
  background: hsl(298, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(22) {
  height: 14px;
  width: 14px;
  animation-delay: -4.4s;
  transform: translate3d(986px, 722px, 1412px);
  background: hsl(194, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(23) {
  height: 5px;
  width: 5px;
  animation-delay: -4.6s;
  transform: translate3d(411px, 860px, 493px);
  background: hsl(263, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(24) {
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(889px, 555px, 174px);
  background: hsl(166, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(25) {
  height: 12px;
  width: 12px;
  animation-delay: -5s;
  transform: translate3d(674px, 578px, 1883px);
  background: hsl(218, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(26) {
  height: 20px;
  width: 20px;
  animation-delay: -5.2s;
  transform: translate3d(130px, 99px, 676px);
  background: hsl(343, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(27) {
  height: 3px;
  width: 3px;
  animation-delay: -5.4s;
  transform: translate3d(656px, 284px, 891px);
  background: hsl(218, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(28) {
  height: 13px;
  width: 13px;
  animation-delay: -5.6s;
  transform: translate3d(68px, 450px, 613px);
  background: hsl(125, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(29) {
  height: 9px;
  width: 9px;
  animation-delay: -5.8s;
  transform: translate3d(249px, 373px, 189px);
  background: hsl(327, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(30) {
  height: 16px;
  width: 16px;
  animation-delay: -6s;
  transform: translate3d(539px, 976px, 44px);
  background: hsl(130, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(31) {
  height: 4px;
  width: 4px;
  animation-delay: -6.2s;
  transform: translate3d(827px, 154px, 1791px);
  background: hsl(304, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(32) {
  height: 27px;
  width: 27px;
  animation-delay: -6.4s;
  transform: translate3d(448px, 872px, 1851px);
  background: hsl(239, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(33) {
  height: 28px;
  width: 28px;
  animation-delay: -6.6s;
  transform: translate3d(76px, 371px, 779px);
  background: hsl(140, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(34) {
  height: 15px;
  width: 15px;
  animation-delay: -6.8s;
  transform: translate3d(134px, 349px, 1186px);
  background: hsl(177, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(35) {
  height: 2px;
  width: 2px;
  animation-delay: -7s;
  transform: translate3d(554px, 36px, 880px);
  background: hsl(304, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(36) {
  height: 24px;
  width: 24px;
  animation-delay: -7.2s;
  transform: translate3d(712px, 289px, 1283px);
  background: hsl(265, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(37) {
  height: 17px;
  width: 17px;
  animation-delay: -7.4s;
  transform: translate3d(618px, 516px, 1622px);
  background: hsl(282, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(38) {
  height: 5px;
  width: 5px;
  animation-delay: -7.6s;
  transform: translate3d(60px, 3px, 1333px);
  background: hsl(131, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(39) {
  height: 6px;
  width: 6px;
  animation-delay: -7.8s;
  transform: translate3d(847px, 956px, 876px);
  background: hsl(351, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(40) {
  height: 19px;
  width: 19px;
  animation-delay: -8s;
  transform: translate3d(367px, 381px, 1769px);
  background: hsl(132, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(41) {
  height: 10px;
  width: 10px;
  animation-delay: -8.2s;
  transform: translate3d(197px, 719px, 217px);
  background: hsl(20, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(42) {
  height: 28px;
  width: 28px;
  animation-delay: -8.4s;
  transform: translate3d(365px, 191px, 553px);
  background: hsl(81, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(43) {
  height: 27px;
  width: 27px;
  animation-delay: -8.6s;
  transform: translate3d(46px, 359px, 1560px);
  background: hsl(249, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(44) {
  height: 8px;
  width: 8px;
  animation-delay: -8.8s;
  transform: translate3d(667px, 734px, 1790px);
  background: hsl(98, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(45) {
  height: 7px;
  width: 7px;
  animation-delay: -9s;
  transform: translate3d(163px, 983px, 1316px);
  background: hsl(176, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(46) {
  height: 10px;
  width: 10px;
  animation-delay: -9.2s;
  transform: translate3d(465px, 531px, 833px);
  background: hsl(96, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(47) {
  height: 5px;
  width: 5px;
  animation-delay: -9.4s;
  transform: translate3d(345px, 227px, 872px);
  background: hsl(155, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(48) {
  height: 16px;
  width: 16px;
  animation-delay: -9.6s;
  transform: translate3d(524px, 972px, 1451px);
  background: hsl(192, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(49) {
  height: 8px;
  width: 8px;
  animation-delay: -9.8s;
  transform: translate3d(162px, 248px, 980px);
  background: hsl(157, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(50) {
  height: 12px;
  width: 12px;
  animation-delay: -10s;
  transform: translate3d(341px, 494px, 790px);
  background: hsl(141, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(51) {
  height: 1px;
  width: 1px;
  animation-delay: -10.2s;
  transform: translate3d(577px, 724px, 664px);
  background: hsl(16, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(52) {
  height: 22px;
  width: 22px;
  animation-delay: -10.4s;
  transform: translate3d(295px, 916px, 476px);
  background: hsl(45, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(53) {
  height: 12px;
  width: 12px;
  animation-delay: -10.6s;
  transform: translate3d(874px, 950px, 997px);
  background: hsl(196, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(54) {
  height: 5px;
  width: 5px;
  animation-delay: -10.8s;
  transform: translate3d(769px, 107px, 583px);
  background: hsl(194, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(55) {
  height: 1px;
  width: 1px;
  animation-delay: -11s;
  transform: translate3d(930px, 896px, 1937px);
  background: hsl(170, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(56) {
  height: 5px;
  width: 5px;
  animation-delay: -11.2s;
  transform: translate3d(856px, 330px, 1454px);
  background: hsl(219, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(57) {
  height: 14px;
  width: 14px;
  animation-delay: -11.4s;
  transform: translate3d(361px, 820px, 1218px);
  background: hsl(290, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(58) {
  height: 29px;
  width: 29px;
  animation-delay: -11.6s;
  transform: translate3d(606px, 654px, 198px);
  background: hsl(134, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(59) {
  height: 29px;
  width: 29px;
  animation-delay: -11.8s;
  transform: translate3d(835px, 770px, 1145px);
  background: hsl(102, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(60) {
  height: 7px;
  width: 7px;
  animation-delay: -12s;
  transform: translate3d(20px, 696px, 578px);
  background: hsl(356, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(61) {
  height: 30px;
  width: 30px;
  animation-delay: -12.2s;
  transform: translate3d(110px, 760px, 1637px);
  background: hsl(72, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(62) {
  height: 29px;
  width: 29px;
  animation-delay: -12.4s;
  transform: translate3d(714px, 811px, 1814px);
  background: hsl(326, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(63) {
  height: 24px;
  width: 24px;
  animation-delay: -12.6s;
  transform: translate3d(590px, 410px, 1032px);
  background: hsl(178, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(64) {
  height: 20px;
  width: 20px;
  animation-delay: -12.8s;
  transform: translate3d(249px, 537px, 923px);
  background: hsl(102, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(65) {
  height: 19px;
  width: 19px;
  animation-delay: -13s;
  transform: translate3d(720px, 973px, 1860px);
  background: hsl(345, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(66) {
  height: 8px;
  width: 8px;
  animation-delay: -13.2s;
  transform: translate3d(853px, 634px, 752px);
  background: hsl(254, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(67) {
  height: 21px;
  width: 21px;
  animation-delay: -13.4s;
  transform: translate3d(362px, 596px, 1086px);
  background: hsl(167, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(68) {
  height: 20px;
  width: 20px;
  animation-delay: -13.6s;
  transform: translate3d(531px, 965px, 630px);
  background: hsl(257, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(69) {
  height: 17px;
  width: 17px;
  animation-delay: -13.8s;
  transform: translate3d(561px, 185px, 1416px);
  background: hsl(240, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(70) {
  height: 30px;
  width: 30px;
  animation-delay: -14s;
  transform: translate3d(414px, 60px, 1148px);
  background: hsl(263, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(71) {
  height: 26px;
  width: 26px;
  animation-delay: -14.2s;
  transform: translate3d(705px, 662px, 405px);
  background: hsl(9, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(72) {
  height: 17px;
  width: 17px;
  animation-delay: -14.4s;
  transform: translate3d(749px, 166px, 648px);
  background: hsl(324, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(73) {
  height: 9px;
  width: 9px;
  animation-delay: -14.6s;
  transform: translate3d(264px, 320px, 854px);
  background: hsl(57, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(74) {
  height: 29px;
  width: 29px;
  animation-delay: -14.8s;
  transform: translate3d(770px, 242px, 334px);
  background: hsl(57, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(75) {
  height: 6px;
  width: 6px;
  animation-delay: -15s;
  transform: translate3d(120px, 571px, 1638px);
  background: hsl(190, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(76) {
  height: 4px;
  width: 4px;
  animation-delay: -15.2s;
  transform: translate3d(295px, 548px, 535px);
  background: hsl(159, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(77) {
  height: 24px;
  width: 24px;
  animation-delay: -15.4s;
  transform: translate3d(644px, 39px, 344px);
  background: hsl(306, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(78) {
  height: 25px;
  width: 25px;
  animation-delay: -15.6s;
  transform: translate3d(43px, 200px, 30px);
  background: hsl(306, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(79) {
  height: 13px;
  width: 13px;
  animation-delay: -15.8s;
  transform: translate3d(366px, 507px, 212px);
  background: hsl(28, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(80) {
  height: 14px;
  width: 14px;
  animation-delay: -16s;
  transform: translate3d(763px, 276px, 1986px);
  background: hsl(34, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(81) {
  height: 24px;
  width: 24px;
  animation-delay: -16.2s;
  transform: translate3d(33px, 554px, 928px);
  background: hsl(271, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(82) {
  height: 27px;
  width: 27px;
  animation-delay: -16.4s;
  transform: translate3d(298px, 877px, 1952px);
  background: hsl(276, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(83) {
  height: 10px;
  width: 10px;
  animation-delay: -16.6s;
  transform: translate3d(4px, 432px, 595px);
  background: hsl(231, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(84) {
  height: 9px;
  width: 9px;
  animation-delay: -16.8s;
  transform: translate3d(67px, 2px, 730px);
  background: hsl(130, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(85) {
  height: 5px;
  width: 5px;
  animation-delay: -17s;
  transform: translate3d(443px, 533px, 35px);
  background: hsl(207, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(86) {
  height: 18px;
  width: 18px;
  animation-delay: -17.2s;
  transform: translate3d(958px, 511px, 817px);
  background: hsl(44, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(87) {
  height: 2px;
  width: 2px;
  animation-delay: -17.4s;
  transform: translate3d(959px, 649px, 709px);
  background: hsl(277, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(88) {
  height: 29px;
  width: 29px;
  animation-delay: -17.6s;
  transform: translate3d(217px, 382px, 47px);
  background: hsl(37, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(89) {
  height: 24px;
  width: 24px;
  animation-delay: -17.8s;
  transform: translate3d(982px, 558px, 1804px);
  background: hsl(244, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(90) {
  height: 30px;
  width: 30px;
  animation-delay: -18s;
  transform: translate3d(559px, 92px, 1903px);
  background: hsl(47, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(91) {
  height: 7px;
  width: 7px;
  animation-delay: -18.2s;
  transform: translate3d(767px, 236px, 1229px);
  background: hsl(312, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(92) {
  height: 12px;
  width: 12px;
  animation-delay: -18.4s;
  transform: translate3d(342px, 861px, 230px);
  background: hsl(236, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(93) {
  height: 10px;
  width: 10px;
  animation-delay: -18.6s;
  transform: translate3d(338px, 238px, 317px);
  background: hsl(23, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(94) {
  height: 25px;
  width: 25px;
  animation-delay: -18.8s;
  transform: translate3d(237px, 500px, 1600px);
  background: hsl(347, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(95) {
  height: 6px;
  width: 6px;
  animation-delay: -19s;
  transform: translate3d(251px, 276px, 1731px);
  background: hsl(149, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(96) {
  height: 23px;
  width: 23px;
  animation-delay: -19.2s;
  transform: translate3d(422px, 444px, 1647px);
  background: hsl(296, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(97) {
  height: 10px;
  width: 10px;
  animation-delay: -19.4s;
  transform: translate3d(389px, 379px, 968px);
  background: hsl(75, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(98) {
  height: 4px;
  width: 4px;
  animation-delay: -19.6s;
  transform: translate3d(399px, 45px, 1894px);
  background: hsl(294, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(99) {
  height: 26px;
  width: 26px;
  animation-delay: -19.8s;
  transform: translate3d(967px, 438px, 1292px);
  background: hsl(25, 70%, 50%);
}
.T3 .con .bubble-wrap .bb:nth-child(100) {
  height: 11px;
  width: 11px;
  animation-delay: -20s;
  transform: translate3d(108px, 593px, 1003px);
  background: hsl(144, 70%, 50%);
}

.T4 {
  width: 100%;
  height: 300px;
  background: #000000;
}
.T4 .load {
  position: relative;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  cursor: default;
}
.T4 .load > div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  animation: move 2s linear infinite;
  transform: rotate(180deg);
  color: #35C4F0;
}
.T4 .load > div:nth-child(2) {
  animation-delay: 0.2s;
}
.T4 .load > div:nth-child(3) {
  animation-delay: 0.4s;
}
.T4 .load > div:nth-child(4) {
  animation-delay: 0.6s;
}
.T4 .load > div:nth-child(5) {
  animation-delay: 0.8s;
}
.T4 .load > div:nth-child(6) {
  animation-delay: 1s;
}
.T4 .load > div:nth-child(7) {
  animation-delay: 1.2s;
}
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.T5 {
  width: 100%;
  height: 300px;
  background-color: #0A1725;
}
.T5 .coon {
  width: 200px;
  height: 100px;
  padding-top: 100px;
  margin: 0 auto;
}
.T5 .coon .ball {
  width: 10px;
  height: 10px;
  margin: 10px auto;
  border-radius: 50px;
}
.T5 .coon .ball:nth-child(1) {
  background: #ffffff;
  animation: right 1s infinite ease-in-out;
}
.T5 .coon .ball:nth-child(2) {
  background: #ffffff;
  animation: left 1.1s infinite ease-in-out;
}
.T5 .coon .ball:nth-child(3) {
  background: #ffffff;
  animation: right 1.05s infinite ease-in-out;
}
.T5 .coon .ball:nth-child(4) {
  background: #ffffff;
  animation: left 1.15s infinite ease-in-out;
}
.T5 .coon .ball:nth-child(5) {
  background: #ffffff;
  animation: right 1.1s infinite ease-in-out;
}
.T5 .coon .ball:nth-child(6) {
  background: #ffffff;
  animation: left 1.05s infinite ease-in-out;
}
.T5 .coon .ball:nth-child(7) {
  background: #ffffff;
  animation: right 1s infinite ease-in-out;
}
@keyframes right {
  0% {
    transform: translate(-15px);
  }
  50% {
    transform: translate(15px);
  }
  100% {
    transform: translate(-15px);
  }
}
@keyframes left {
  0% {
    transform: translate(15px);
  }
  50% {
    transform: translate(-15px);
  }
  100% {
    transform: translate(15px);
  }
}

.T6 {
  width: 100%;
  height: 300px;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.T6 .ty h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
.T6 .ty h1 a {
  color: #fff;
  font-family: monospace;
  text-decoration: none;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.T7 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}
.T7 h1 {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  font-size: 100px;
}
.T7 h1:before {
  content: "Lets Go…";
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: #fff;
  animation: loading 8s linear;
}
@keyframes loading {
  0% {
    max-width: 0;
  }
}

.T8 {
  width: 100%;
  height: 300px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.T8 p {
  color: lime;
  font-family: "Courier";
  font-size: 25px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 1450px;
  animation: type 4s steps(60, end);
}
.T8 p span {
  animation: blink 1s infinite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes type {
  from {
    width: 0;
  }
}

/*# sourceMappingURL=master.css.map */
